/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1600px) { 
	.container{
		max-width: 1470px;
	}
	.hospital_area::before {
		left: calc((100% - 1470px) / 2 + 15px);
	}
	.acess_itmes {
	    padding-right: calc((100% - 1470px) / 2 + 15px);
	}	
	.acess_itmes:nth-child(even) {
	    padding-left: calc((100% - 1470px) / 2 + 15px);
	}
}
@media (min-width: 1366px) and (max-width: 1599.98px){
	html{
		font-size: 55.2%;
	}
	.container{
		max-width: 1300px;
	}
	.precision_box {
	    padding: 10.6rem 5rem 10.6rem 7rem;
	}
	.hospital_area::before {
		left: calc((100% - 1300px) / 2 + 15px);
	}
	.acess_itmes:nth-child(even) {
	    padding-left: calc((100% - 1300px) / 2 + 15px);
	}
}
@media (min-width: 1200px) and (max-width: 1365.98px){
	html{
		font-size: 49.5%;
	}
	.container{
		max-width: 1170px;
	}
	.precision_box {
	    padding: 8.6rem 4rem 10.6rem 7rem;
	}
	.hospital_area::before {
		left: calc((100% - 1170px) / 2 + 15px);
	}
	.acess_itmes:nth-child(even) {
	    padding-left: calc((100% - 1170px) / 2 + 15px);
	}
}
@media (min-width: 992px) and (max-width: 1199.98px){
	html{
		font-size: 40.4%;
	}
	.precision_box {
	    padding: 8.6rem 4rem 10.6rem 7rem;
	}
	.hospital_area::before {
		left: calc((100% - 960px) / 2 + 15px);
	}
	.acess_itmes:nth-child(even) {
	    padding-left: calc((100% - 960px) / 2 + 15px);
	}
}

@media (max-width: 991.98px) {
	html{
		font-size: 50%;
	}
	.menu_wrapp{
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #fff;
		text-align: center;
		z-index: -1;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		overflow: auto;
		padding-top: 8.5rem;
		padding-bottom: 3rem;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	.menu_wrapp.current{
		left: 0;
	}
	.hamburger-menu {
		display: block;
	}
	#menu li{
		display: block;
		margin-top: 2.5rem;
	}
	#menu li:last-child a{
		padding-left: 0;
	}
	main {
	    padding-top: 8.8rem;
	}
	.btn_wrap {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    margin-top: 5rem;
	}
	.menu_wrapp .shop_btn {
	    margin-top: 2rem;
	}
	.deshboard_area {
	    z-index: 1;
	}
	.phn_position {
	    width: 76.5rem;
	    z-index: -1;
	    opacity: 0.4;
	}
	.news_area {
	    padding: 4rem 0 2rem;
	}
	.home_area {
	    min-height: 76rem;
	}
	.mt_214 {
	    margin-top: 18.4rem;
	}
	.precision_box {
	    padding: 8.6rem 4rem 10.6rem 7rem;
	}
	.dura_top h3 {
	    font-size: 2.6rem;
	}
	.durability_box {
	    padding: 4.2rem 10rem 44rem 3.2rem;
	}
	.title h2 {
	    font-size: 4.2rem;
	}
	.extra_exten {
	   padding-left: 0rem; 
	}
	.brand_content {
	    max-width: 78rem;
	    margin-top: -8rem;
	    padding: 5.3rem 4.1rem;
	}
	.redefine_wapper {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
	.precision_area img {
	    height: 53rem;
	}
	.hospital_area .container .digital_lock_top {
	    left: 0;
	    top: 0;
	    color: #000;
	    position: relative;
	}
	.digital_lock_top h2 span {
	    color: #000;
	}
	.digital_lock_top h3 {
	    font-size: 3.6rem;
	}
	.acess_itmes {
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	}
	.acces_left_img {
	    margin-right: 0;
	}
	.key_card {
	    width: 100%;
	    padding: 5rem;
	}
	.acess_itmes:nth-child(even) .acces_left_img {
	    margin-left: 0;
	}
	.form_padd {
	    padding: 0 3rem 5rem 3rem;
	}
	.border_right {
	    border-right: none;
	}
	
}

/*Medium devices (tablets, 767px and down)*/
@media (max-width: 767.98px) {
	html{
		font-size: 40%;
	}
}

/*Small devices (landscape phones, 575px and down)*/
@media (max-width: 575.98px) {
	html{
		font-size: 1.6vw;
	}
	.home_area h1 {
	    font-size: 4.4rem;
	}
	.home_area {
	    padding: 15.1rem 0;
	 }
	 .remote_area {
	    padding: 0 0rem 4rem;
	}
	.remote_card {
	    background-repeat: no-repeat;
	    padding: 7rem 6rem 33rem 1.5rem;
	}
	.app_store img {
	    max-width: 16.7rem;
	}
	.phn_position {
	    width: 61.5rem;
	}
	.container{
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.news_area h3 {
	    font-size: 3.7rem;
	}
	#menu li a {
	    font-size: 2.5rem;
	}
	.shop_btn {
	    font-size: 2.5rem;
	}
	.nice-select {
	    font-size: 2.5rem;
	    padding: 1.2rem 5.9rem;
	}
	.select_wrap img {
	    width: 2.6rem;
	}
	footer {
	    text-align: center;
	}
	.foo_first p {
	    margin: 0 auto;
	}
	.social_icon {
	    -webkit-box-pack: center;
	        -ms-flex-pack: center;
	            justify-content: center;
	}
	footer h3 {
	    margin-top: 0.7rem;
	}
	.explore_img img {
	    height: 47rem;
	}
	.mt_214 {
	    margin-top: 14.4rem;
	}
	.explore_img h3 {
	    font-size: 3.2rem;
	}
	.home_area {
	    background-position: 72% center;
	}
	.brand_section .title h2 {
	    font-size: 3rem;
	}
	.brand_content {
	    max-width: 53rem;
	    margin-top: -7rem;
	    padding: 3.3rem 2.1rem;
	}
	.extra_area h2 {
	    font-size: 3.2rem;
	}
	.title h2 {
	    font-size: 3.2rem;
	}
	.key_card {
	    width: 100%;
	    padding: 3rem;
	}
}